# Discord Bot Variables. Get these from the Discord Developer Portal
TOKEN="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" ## Discord Bot Token
PUBLIC_KEY=XxXXxxXXXXXXXXXXXXXXXXXxxxXXXXXXXXXXXXX ## Discord Public Key
CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXx ## Discord Client ID

# OpenAI API Key
OPENAI_API_KEY='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

# Discord Guild Variables (Developer Server ID)

GUILD_ID=XXXXXXXXXXXXXXXxx  
DEV_GUILD_ID='XXXXXXXXXXXXXXXXXX' # The bot will post developer data to this server

# Discord Channel Variables (Applicable to all servers)
TRIVIA_CHANNEL='trivia-dev'
DEV='true'
NOOB_ROLE='Noob'
PLAYER_ROLE='Player'
HOST_ROLE='Host-dev'
WORLD_CHAMPION_ROLE='World Trivia Champion'
GUILD_CHAMPION_ROLE='Guild Trivia Champion'